@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;700&family=Poiret+One&family=Sacramento&display=swap');
/* 
font-family: 'Lexend', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Sacramento', cursive;
 */

/* - - - - - - - HTML - - - - - - - */
body {
  font-family: 'Lexend', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  color: #2c3840;
  background-image: linear-gradient(190deg, #ffe9ef 50%, #66f2e4 50%);
  background-attachment: fixed;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02rem;
}
img {
  max-width: 100%;
  display: inline-block;
}
a {
  font-size: 1rem;
  text-decoration: none;
  color: #2c3840;
  font-family: 'Lexend', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}
a:hover {
  color: #f29bb2;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}
input {
  padding: 0.4rem;
  position: relative;
}

iframe {
  display: inline-block;
  max-width: 100%;
}
/* - - - - - - - custom form - - - - - - - */
.input-button {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  height: 100%;
  width: 40px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #2c3840;
}

/* - - - - - - - custom text - - - - - - - */
.bold {
  font-family: 'Lexend', sans-serif;
  font-weight: 900;
  font-size: 6rem;
  color: black;
}
.sacramento {
  font-family: 'Sacramento', cursive;
}
/* - - - - - - - custom image - - - - - - - */
.icon {
  display: inline-block;
}
/* - - - - - - - colors - - - - - - - */
.pink {
  color: #f29bb2;
}
.bg-gradient {
  background-image: linear-gradient(
    180deg,
    #fff 60%,
    #f29bb2 60%,
    #f29bb2 90%,
    #fff 90%
  );
}
.bg-white {
  background-color: #fff;
}
.bg-pink {
  background-color: #f29bb2;
}
/* - - - - - - - layout - - - - - - - */
.min-h-50 {
  min-height: 50vh;
  align-items: center;
}
.min-h-75 {
  min-height: 75vh;
  align-items: center;
}
.min-h-100 {
  min-height: 100vh;
  align-items: center;
}

/* - - - - - - - buttons - - - - - - - */
.b {
  display: inline-block;
  padding: 0.8rem 4rem;
  line-height: 1;
  outline: none;
  border: none;
  letter-spacing: 0.075rem;
  transition: 0.2s;
}
.b-pink {
  color: #fff;
  background-color: #f29bb2;
}
.b-pink:hover {
  color: #eee;
}

.b-dark {
  color: #fff;
  background-color: #2c3840;
}
.b-dark:hover {
  filter: brightness(120%);
}
/* - - - - - - - separator - - - - - - - */
.line {
  display: flex;
  flex-direction: row;
}
.line:before,
.line:after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
  border-color: #2c3840;
}
.line:before {
  margin-right: 3rem;
}
.line:after {
  margin-left: 3rem;
}
/* - - - - - - - modal - - - - - - - */
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}
.modal-content-x {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal-content-x a {
  color: #fff;
  font-size: 3rem;
}
.modal-content-x a:hover {
  color: #f29bb2;
}
.show {
  display: flex !important;
  align-items: center;
  animation-name: fadeInDown;
  animation-duration: 0.5s;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 5%;
  line-height: 0.5;
  padding: 1rem;
  transition: 0.2s;
  background-color: #f29bb2;
  transform: translateY(-0.5rem);
}
.modal-close:hover {
  transform: translateY(0);
}

.modal-close img {
  width: 40px;
  height: 40px;
}
/* - - - - - - - modal play - - - - - - - */

.modal-play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
}
.close_play {
  display: none;
}
/* - - - - - - - logo - - - - - - - */
.logo {
  height: 2rem;
}
/* - - - - - - - navigation - - - - - - - */
.navigation {
  padding: 0.2rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: inherit;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.08);
  max-width: 1140px;
  z-index: 1000;
  transition: 0.3s;
}
.menu a {
  display: inline-block;
  padding: 0.4rem 1rem;
  transition: 0.3s;
}

.menu a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f29bb2;
  transition: width 0.3s;
}

.menu a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
/* - - - - - - - hero - - - - - - - */
.hero {
  margin-top: 72px;
}
.hero-content {
  padding-right: 5rem;
  text-align: left;
}
.hero-image {
  text-align: center;
  font-family: 'Poiret One', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
  margin-bottom: 3rem;
}
.hero-image p {
  margin: 0;
  font-size: 1.5rem;
}
.hero-image h2 {
  font-size: 3.5rem;
}
/* - - - - - - - section-a - - - - - - - */
.section-a {
  text-align: center;
}
.section-a p {
  color: #2c3840;
  padding: 0 2rem;
  font-size: 27px;
  line-height: 1.5;
}
.section-a-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.section-a-gallery img {
  margin: 0 1rem;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  filter: grayscale(100%);
}
.section-a-gallery img:hover {
  cursor: pointer;
  transform: translateY(-1rem);
  filter: grayscale(0%);
}
/* - - - - - - - section-b - - - - - - - */
.section-b-content {
  position: relative;
  align-items: flex-end;
  display: flex;
}

.section-b img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.text-pos-a {
  position: absolute;
  top: 15%;
  right: 0;
  z-index: -10;
}
.text-pos-b {
  position: absolute;
  bottom: 20%;
  left: 0;
}
/* - - - - - - - content c - - - - - - - */
.card-x img {
  max-width: 15rem;
  display: block;
  margin: 0 auto;
}
.card-x {
  text-align: center;
  color: #fff;
}
.card-x h4 {
  margin: 1rem 0 0.5rem;
}
/* - - - - - - - footer - - - - - - - */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-links {
  padding: 1rem 0;
}
.footer-links a {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
}
.footer-links li {
  margin-bottom: 1rem;
}
.footer-links {
  text-align: center;
}
.footer-main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-icons {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.footer-icons img {
  padding: 1rem;
  cursor: pointer;
}
.footer-icons img:hover {
  background-color: #f29bb2;
}

.footer-email {
  position: relative;
  margin-bottom: 2rem;
}

.footer-email input {
  border: 1px solid #2c3840;
  min-width: 20rem;
  color: #2c3840;
  opacity: 0.6;
}

.footer-email input:focus,
.footer-email input:active {
  opacity: 1;
  outline: none;
}

/* animation */
@keyframes fadeInUp {
  0% {
    opacity: 1;
    transform: translateY(-1.25em);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* responsive */
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .hero-content {
    padding: 0.5rem;
    text-align: center;
  }
  .section-a p {
    font-size: 1.5rem;
  }
  .section-a img {
    max-width: 12rem;
  }
  .section-b-content {
    min-height: 50vh;
  }
  .section-b-content h1 {
    font-size: 4rem;
    text-align: center;
  }
  .text-pos-b {
    bottom: 0;
  }
  .text-pos-a {
    top: 0;
  }

  .footer-links li {
    text-align: center;
  }
}
@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
